<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">商品管理 /  商品编辑</li>

        </ul>
        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" id="form" method="post" class="form-horizontal form form-builder" enctype="multipart/form-data">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID号：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" readonly="readonly" name="id" value="{$info.id}" />
                                                </div>
                                            </div>
                                            
                                            <div class="form-group item_title ">
                                                <label class="left control-label">商品名称：</label>
                                                <div class="right">
                                                    <input type="text" name="name" class="form-control input" value="{$info.name}"/>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">商品价格：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="price" value="{$info.price}" />
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">商品图片：</label>
                                                <div class="right">
                                                    <input name="img" id="file" type="file" class="btn" onchange="changepic(this)">
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label"></label>
                                                <div class="right">
                                                    <img id="show" src="{$info.img}" style="width:10%"/>
                                                </div>
                                            </div>
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <label class="left control-label"></label>
                                            <div class="right">
                                                <button class="btn btn-danger return" type="submit" id="submits">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
    <script>
        function changepic() {
            var reads= new FileReader();
            f=document.getElementById('file').files[0];
            reads.readAsDataURL(f);
            reads.onload=function (e) {
                document.getElementById('show').src=this.result;
            };
        }
        $('#submits').on('click',function () {
            var formData = new FormData($('#file')[0]);
            $.ajax({
                type: 'post',
                url: "__SELF__",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
            }).success(function (data) {
                alert(data);
            }).error(function () {
                alert("上传失败");
            });
        });
    </script>
</block>